.list {
  padding: 0;
}

.item {
  padding: 0 16px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);

  &:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  &:first-child {
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  }
}

.num {
  margin-right: 16px;
  flex-basis: 5%;
}

.name {
  flex-basis: 75%;
}

.stars {
  flex-basis: 20%;
}
