<div class="container">
  <h1>Enter GitHub repo title:</h1>
  <app-search (searchInput)="getEvent($event)"></app-search>
  <div class="list">
    <div class="item">
      <p class="num"><b>№</b></p>
      <p class="name"><b>Title</b></p>
      <p class="stars"><b>Stars</b></p>
    </div>

    <p *ngIf="error; else searchResults" class="error">ERROR: {{error}}</p>
    <div *ngIf="!loading; else loadingBlock"></div>

    <ng-template #searchResults>
        <div *ngIf="filteredRepos$ | async as items">
          <div *ngIf="items.length > 0; else noValue">
            <div class="item" *ngFor="let ghRepo of items; let i = index">
              <p class="num">{{ i + 1 }}</p>
              <a class="name" href="{{ ghRepo.html_url }}" target="_blank">
                <span class="name">{{ ghRepo.name | titlecase}}</span>
              </a>
              <p class="stars">{{ ghRepo.stargazers_count }}</p>
            </div>
          </div>
        </div>
    </ng-template>

    <ng-template #noValue>
      <p class="no-value">No search results</p>
    </ng-template>

    <ng-template #loadingBlock>
      <div class="loader-inner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </div>
</div>

